<!DOCTYPE html>

<html>

<head>
    <title>Call List Generator (Verizon Prefixes)</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Call List Generator</h1>
    <ol id="list">
    </ol>
</body>
<script src="/js/app.js"></script>

</html>