<!DOCTYPE html>

<html>

<head>
    <title>Call Sheet</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Call Sheet</h1>
    <div class="callsheet">
        <div id="names">
        <h3>Name</h3>
        </div>
        <div id="numbers">
        <h3>Number</h3>
        </div>
        <div id="answers">
        <h3>Answered?</h3>
        </div>
        <div id="results">
        <h3>Result</h3>
        </div>
    </div>
</body>
<script src="/js/app.js"></script>

</html>