<!DOCTYPE html>

<html>

<head>
    <title>Call Sheet</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="header">
        <h1>Call Sheet Date: {{date}}</h1>
        <h1>Employee Name:</h1>
    </div>
    <div class="callsheet">
        <div id="names">
            <h3>Customer Name</h3>
        </div>
        <div id="numbers">
            <h3>Phone Number</h3>
        </div>
        <div id="answers">
            <h3>Answer/VM</h3>
        </div>
        <div id="results">
            <h3>Call Verdict/Notes</h3>
        </div>
    </div>
</body>
<script src="/js/app.js"></script>

</html>