body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 8vw 0 8vw;
}

h1 {
    font-size: 22px;
    width: 40vw;
}

h3 {
    font-size: 16px;
    text-align: center;
}
 
p {
    border: 1px solid grey;
    height: 16px;
    margin: 0;
    padding: 4px;
}

#numbers p {
    min-width: 125px;
}

.callsheet {
    display: flex; 
}

.header {
    display: flex;
}

#names {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#numbers { 
    display: flex;
    flex-direction: column;
}

#answers { 
    display: flex;
    flex-direction: column;
    width: 10vw; 
}

#results { 
    display: flex;
    flex-direction: column;
    width: 40vw;
}