body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 8vw 10vh 8vw;
}

h1 {
    font-size: 22px;
    width: 40vw;
}

h3 {
    text-align: center;
}
 
p {
    border: 1px solid grey;
    margin: 0;
    padding: 8px;
}

.callsheet {
    display: flex; 
}

.header {
    display: flex;
}

#names {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#numbers { 
    display: flex;
    flex-direction: column;
    width: 15vw; 
}

#answers { 
    display: flex;
    flex-direction: column;
    width: 10vw; 
}

#results { 
    display: flex;
    flex-direction: column;
    width: 35vw; 
}