body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 8vw 10vh 8vw;
}

.callsheet {
    display: flex;
}

#names {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#numbers { 
    display: flex;
    flex-direction: column;
    width: 20vw; 
}

#answers { 
    display: flex;
    flex-direction: column;
    width: 20vw; 
}

#result { 
    display: flex;
    flex-direction: column;
    width: 20vw; 
}